<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>PetGuardian| Your pet like my pet</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- owl carousel style -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="shortcut icon" href="images/guard.png"/>
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section header_bg">
         <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="logo" href="/home"><img src="images/guard.png"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarsExample01">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/service">Services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      <!--header section end -->
      <div class="blog_section layout_padding">
         <div class="container">
            <h1 class="blog_taital"><span class="our_text">Biên bản</span> buổi họp</h1>
            <p class="blog_text">Dưới đây là các biên bản buổi họp trong quá trình xây dựng đồ án </p>
            <div class="services_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-4">
                   <a href="images/bienban1.pdf">
                     <div class="box_main">
                        <div class="student_bg"><img src="images/meetimg1.png" class="student_bg"></div>
                        <div class="image_15">25<br>Feb</div>
                        <h4 class="hannery_text">Giai đoạn khởi động</h4>
                        <p class="fact_text">Đây là giai đoạn ban đầu, nơi xác định mục tiêu và phạm vi của dự án. Các bước trong giai đoạn này thường bao gồm: xác định vấn đề cần giải quyết, nghiên cứu thị trường và khảo sát cạnh tranh, xác định nguồn lực cần thiết, và lập kế hoạch cho giai đoạn tiếp theo. </p>
                     </div>
                   </a>
                  </div>
                  <div class="col-md-4">
                     <a href="images/bienban1.pdf">
                     <div class="box_main">
                        <div class="student_bg"><img src="images/meetimg1.png" class="student_bg"></div>
                        <div class="image_15">2<br>Mar</div>
                        <h4 class="hannery_text">Giai đoạn lập kế hoạch</h4>
                        <p class="fact_text">Ở đây, chúng tôi sẽ phát triển một kế hoạch chi tiết về cách thực hiện dự án. Các bước trong giai đoạn này có thể bao gồm: xác định các công việc cần thực hiện, phân bổ nguồn lực, thiết lập lịch trình và ngân sách, đánh giá rủi ro, và xác định các tiêu chí đánh giá hiệu suất.</p>
                     </div>
                  </a>
                  </div>
                  <div class="col-md-4">
                     <a href="images/bienban1.pdf">
                     <div class="box_main">
                        <div class="student_bg"><img src="images/meetimg1.png" class="student_bg"></div>
                        <div class="image_15">15<br>Mar</div>
                        <h4 class="hannery_text">Giai đoạn thực thi</h4>
                        <p class="fact_text">Trong giai đoạn này, kế hoạch được thực hiện. Điều này bao gồm việc triển khai các hoạt động được lập kế hoạch, quản lý nguồn lực, giám sát tiến độ, và giải quyết các vấn đề xuất phát.</p>
                     </div>
                  </a>
                  </div>
                  <div class="col-md-4">
                     <a href="images/bienban1.pdf">
                     <div class="box_main">
                        <div class="student_bg"><img src="images/meetimg1.png" class="student_bg"></div>
                        <div class="image_15">28<br>Mar</div>
                        <h4 class="hannery_text">Giai đoạn kiểm thử</h4>
                        <p class="fact_text">Sau khi hoàn thành các công việc, dự án sẽ được kiểm tra và đánh giá để đảm bảo rằng nó đáp ứng các yêu cầu và mục tiêu đã đặt ra ban đầu. Các bước trong giai đoạn này bao gồm: kiểm tra chất lượng, thử nghiệm và đánh giá sản phẩm hoặc dịch vụ, và thực hiện các điều chỉnh cần thiết.</p>
                     </div>
                  </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contract team role -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="service_taital"><span class="our_text">HỢP ĐỒNG THÀNH</span> LẬP NHÓM</h1>
            <p class="service_text">Các thành viên luôn tuần thủ các quy tắc đặt ra để đạt kết quả tốt nhất </p>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="icon_1"><img src="images/icon-1.png"></div>
                     <h4 class="design_text">Nguyên tắc làm việc nhóm</h4>
                     <ul>
                        <li><p class="lorem_text">Tôn trọng ý kiến của nhau. </p></li>
                        <li><p class="lorem_text">Luôn giữ mối liên lạc và tiến độ công việc. </p></li>
                        <li><p class="lorem_text">Chia sẻ tài liệu và thông tin quan trọng cho công việc. </p></li>
                        <li><p class="lorem_text">Hoàn thành công việc được giao đúng hạn và đạt chất lượng tốt nhất. </p></li>
                        <li><p class="lorem_text">Giữ bí mật về thông tin nhóm. </p></li>
                     </ul>
                     <div class="icon_1"><img src="images/icon-2.png"></div>
                     <h4 class="design_text">Kế hoạch giao tiếp nhóm</h4>
                     <ul>
                        <li><p class="lorem_text">Sử dụng Zalo để trao đổi thông tin.</p></li>
                        <li><p class="lorem_text">Sử dụng Microsoft Teams để họp trực tuyến.</p></li>
                     </ul>
                  </div>
                  <div class="col-sm-4">
                     <div class="icon_3"><img src="images/icon-3.png"></div>
                     <h4 class="design_text">Kế hoạch họp nhóm</h4>
                     <ul>
                        <li><p class="lorem_text">Họp nhóm chủ nhật hằng tuần.</p></li>
                        <li><p class="lorem_text">Đặt mục tiêu và chủ đề cho từng cuộc họp.</p></li>
                        <li><p class="lorem_text">Chia sẻ thông tin và tiến độ công việc của mỗi thành viên.</p></li>
                        <li><p class="lorem_text">Xác định các nhiệm vụ cần hoàn thành trong tuần tiếp theo.</p></li>
                     </ul>
                  </div>
                  <div class="col-sm-4">
                     <div class="icon_1"><img src="images/icon-4.png"></div>
                     <h4 class="design_text">Phương thức giải quyết tranh chấp</h4>
                     <ul>
                        <li><p class="lorem_text">Biểu quyết số đông.</p></li>
                        <li><p class="lorem_text">Vòng quay may mắn.</p></li>
                     </ul>
                     <div class="icon_1"><img src="images/icon-5.png"></div>
                     <h4 class="design_text">Tiêu chí đánh giá thành viên cuối đồ án và cuối môn học</h4>
                     <ul>
                        <li><p class="lorem_text">Đánh giá mức độ làm việc của từng thành viên: hoàn thành hay chưa hoàn thành.</p></li>
                        <li><p class="lorem_text">Đánh giá tuân thủ hoàn hành đúng hạn nhiệm vụ.</p></li>
                        <li><p class="lorem_text">Đánh giá thái độ làm việc, sự hợp tác.</p></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--client section start -->
      <div class="client_section layout_padding">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="blog_taital"><span class="tes_text">Nhân Lực</span>Thực hiện đồ án PetGuardian</h1>
                     <div class="client_section_2 layout_padding">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="client_box active">
                                 <div class="left_main">
                                    <div class="image_6"><img src="images/hao.png"></div>
                                 </div>
                                 <div class="right_main">
                                    <h6 class="magna_text active">20521291</h6>
                                    <p class="consectetur_text active">Huỳnh Thế Hào</p>
                                    <div class="quote_icon active"></div>
                                 </div>
                                 <p class="ipsum_text active">Huỳnh Thế Hào - 20521291</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="client_box">
                                 <div class="left_main">
                                    <div class="image_6"><img src="images/duc.png"></div>
                                 </div>
                                 <div class="right_main">
                                    <h6 class="magna_text">20520454</h6>
                                    <p class="consectetur_text">Trần Trí Đức</p>
                                    <div class="quote_icon"></div>
                                 </div>
                                 <p class="ipsum_text">Trần Trí Đức - 20520454</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="blog_taital"><span class="tes_text">Nhân Lực</span>Thực hiện đồ án PetGuardian</h1>
                     <div class="client_section_2 layout_padding">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="client_box active">
                                 <div class="left_main">
                                    <div class="image_6"><img src="images/tai.png"></div>
                                 </div>
                                 <div class="right_main">
                                    <h6 class="magna_text active">22521276</h6>
                                    <p class="consectetur_text active">Lê Thanh Tài</p>
                                    <div class="quote_icon active"></div>
                                 </div>
                                 <p class="ipsum_text active">Lê Thanh Tài - 22521276</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="client_box">
                                 <div class="left_main">
                                    <div class="image_6"><img src="images/dung.png"></div>
                                 </div>
                                 <div class="right_main">
                                    <h6 class="magna_text">22520728</h6>
                                    <p class="consectetur_text">Nguyễn Minh Dũng</p>
                                    <div class="quote_icon"></div>
                                 </div>
                                 <p class="ipsum_text">Nguyễn Minh Dũng - 22520728</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--client section end -->
      <!--footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="address_main">
               <div class="address_text"><a href="#"><img src="images/map-icon.png"><span class="padding_left_15">Thành viên nhóm: Lê Thanh Tài</span></a></div>
               <div class="address_text"><a href="#"><img src="images/call-icon.png"><span class="padding_left_15">0356356497</span></a></div>
               <div class="address_text"><a href="#"><img src="images/mail-icon.png"><span class="padding_left_15">mrtaivietbac@gmail.com</span></a></div>
            </div>
            <div class="footer_section_2">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <h4 class="link_text">Useful link</h4>
                     <div class="footer_menu">
                        <ul>
                           <li><a href="/home">Home</a></li>
                           <li><a href="/about">About</a></li>
                           <li><a href="/service">Services</a></li>
                           <li><a href="/contact">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h4 class="link_text">social media</h4>
                     <div class="social_icon">
                        <ul>
                           <li><a href="https://www.facebook.com/"><img src="images/fb-icon.png"></a></li>
                           <li><a href="https://www.twitter.com/"><img src="images/twitter-icon.png"></a></li>
                           <li><a href="https://www.linkedin.com/"><img src="images/linkedin-icon.png"></a></li>
                           <li><a href="https://www.youtube.com/"><img src="images/youtub-icon.png"></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h4 class="link_text">Your pet like my pet</h4>
                     <p class="footer_text_1">"Dog is friend, not food!"</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--client section end -->
      <!--copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Create By Team II 二テーム。 </p>
         </div>
      </div>
      <!--copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
      <script type="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
   </body>
</html>